# Detección de anomalías One-Class
## Grado en Ingeniería Informática. Universidad de Burgos
**Autor:** Alicia Olivares Gil

In [1]:
%matplotlib inline 
#para dibujar en el propio notebook
import pandas as pd # se importa pandas como pd
import numpy as np  #numpy como np
import matplotlib.pyplot as plt #matplotlib.pyplot como plot
import pickle as pk
import loadData as ld

## Leer datos:

In [2]:
with open('trozos_limpios.pkl','rb') as f: 
    trozos_limpios = pk.load(f) 

print(len(trozos_limpios))

91

In [3]:
diacrisis1 = trozos_limpios[70]
diacrisis1.head()

,DateTime,P1,P2,P3,P4,P5,P6,target
3849685,2018-11-09 21:03:27,4.098361,18.852459,22.131148,22.131148,13.114754,6.557377,False
3849686,2018-11-09 21:03:27,4.098361,18.852459,21.311475,22.131148,13.114754,6.557377,False
3849687,2018-11-09 21:03:28,4.918033,19.672131,22.131148,22.950820,13.934426,7.377049,False
3849688,2018-11-09 21:03:29,4.098361,18.852459,21.311475,22.131148,13.114754,6.557377,False
3849689,2018-11-09 21:03:30,0.000000,18.852459,22.131148,22.950820,13.114754,6.557377,False

In [4]:
# momentos antes y después del ataque 
inicio =pd.to_datetime('2018-11-10 3:36:10')
fin = pd.to_datetime('2018-11-10 3:40:37')

crisis1 = diacrisis1.loc[diacrisis1['DateTime']>inicio]
crisis1 = crisis1.loc[crisis1['DateTime']<fin]

print(len(crisis1))
crisis1.head()

665

,DateTime,P1,P2,P3,P4,P5,P6,target
3908249,2018-11-10 03:36:11,0.0,24.590164,24.590164,30.327869,31.967213,21.311475,True
3908250,2018-11-10 03:36:11,0.0,22.131148,22.950820,27.868852,27.868852,19.672131,True
3908251,2018-11-10 03:36:11,0.0,18.032787,18.852459,26.229508,27.868852,18.032787,True
3908253,2018-11-10 03:36:12,0.0,22.131148,25.409836,34.426230,36.885246,24.590164,True
3908252,2018-11-10 03:36:12,0.0,19.672131,23.770492,34.426230,36.885246,23.770492,True

In [5]:
presionesCrisis1 = diacrisis1[["P1", "P2", "P3", "P4", "P5", "P6"]]
presionesCrisis1.head()

               P1         P2         P3         P4         P5        P6
3849685  4.098361  18.852459  22.131148  22.131148  13.114754  6.557377
3849686  4.098361  18.852459  21.311475  22.131148  13.114754  6.557377
3849687  4.918033  19.672131  22.131148  22.950820  13.934426  7.377049
3849688  4.098361  18.852459  21.311475  22.131148  13.114754  6.557377
3849689  0.000000  18.852459  22.131148  22.950820  13.114754  6.557377

# Kernel PCA

In [6]:
from sklearn.decomposition import KernelPCA

## - Datos brutos:

In [ ]:
transformer = KernelPCA(n_components=2, kernel='linear')
model = transformer.fit(presionesCrisis1)

In [9]:
datos2D = model.transform(presionesDiaCrisis1)

NameError: name 'model' is not defined